/* CSS - base - Tennis Network
 * Date of creation : 08/04/2014
 * Creator : R. FONCIER
 * Target : all
 * Comment :
 *
 * ------------------------------------------------------------------- */

// Bootstrap imports
@import "bootstrap/bootstrap";

// Textures imports
@textures: "../../img/textures";
@p5: url("@{textures}/p5.png");
@tweed: url("@{textures}/tweed.png");

// Colors imports
@import "colors";

// Basics & common
html, body {
	background-color: @bg;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// Logo & label
.logo-normal {
	width: 60px;
}

.logo-middle {
	width: 50px;
}

.logo-label-normal {
	width: 200px;
}

.logo-label-middle {
	width: 160px;
}

// Glyph-icons
.gicon-mini {
	height: 16px;
	width: 16px;
	margin: 0 4px;
}

// Navbar
.navbar {
	margin-bottom: 30px;
}
.navbar-default {
	background-color: transparent;
	border: 0;
	.navbar-brand {
		margin: 0 10px 0 10px;
		padding: 0;
	}
	.nav {
		li.active a {
			background-color: transparent;
			font-weight: bold;
			color: @tn-med-dark;
			&:hover {
				background-color: transparent;
			}
		}
		li.dropdown.open > a {
			background-color: transparent;
			&:hover {
				background-color: transparent;
			}
		}
	}
}

// Pages imports
@import "firstpage";
@import "homepage";