/* CSS - colors - Tennis Network
 * Date of creation : 08/04/2014
 * Creator : R. FONCIER
 * Target : all
 * Comment :
 *
 * ------------------------------------------------------------------- */

// Color Palette
@bg: #E9EAE4;
@tn-dark: #B53818;
@tn-med-dark: #D64215;
@tn-med: #E84A15;
@tn-med-light: #EC6911;