/* CSS - firstpage - Tennis Network
 * Date of creation : 10/04/2014
 * Creator : R. FONCIER
 * Target : all
 * Comment :
 *
 * ------------------------------------------------------------------- */

body {
	margin-top: 50px;
}

#no-script {
	padding: 30px;
	margin-bottom: 50px;
	background-color: #FAFAFA;
	border: 1px solid @tn-med;
	.border-top-radius(4px);
	.border-bottom-radius(4px);
	.box-shadow(0px 4px 6px 1px rgba(0, 0, 0, 0.4));
}

#signup-container {
	padding : 30px;
	background-color: #fff;
	border: 1px solid #bbb;
	.border-top-radius(4px);
	.border-bottom-radius(4px);
	.box-shadow(0px 4px 6px 1px rgba(0, 0, 0, 0.4));
	#logo-container {
		width: 200px;
		margin: auto;
		margin-bottom: 20px;
		text-align: center;
		img.logo-normal {
			margin-bottom: 10px;
		}
	}
	.alert {
		text-align: center;
	}
	#signup-form {
		padding: 0 30px;
		text-align: center;
		.sign-up-form-forgot-pwd-container {
			text-align: right;
			.sign-up-form-forgot-pwd {
				font-size: 11px;
				color: @tn-med-dark;
				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
		.signup-submit-btn {
			margin-top: 10px;
		}
	}
}