/* CSS - homepage - Tennis Network
 * Date of creation : 10/04/2014
 * Creator : R. FONCIER
 * Target : all
 * Comment :
 *
 * ------------------------------------------------------------------- */

.title-bar {
	margin-bottom: 20px;
	padding: 10px;
	.border-top-radius(4px);
	.border-bottom-radius(4px);
	background-color: #fff;
	.box-shadow(0px 4px 6px 1px rgba(0, 0, 0, 0.4));
}

.entry-item {
	margin-bottom: 20px;
	border: 1px solid #ddd;
	.border-top-radius(4px);
	.border-bottom-radius(4px);
	.box-shadow(0px 4px 6px 1px rgba(0, 0, 0, 0.4));
	background-color: #FAFAFA;
	.entry-container {
		padding: 20px;
		h4 {
			margin: 0; // Reset TBS behavior
			margin-botton: 10px;
			padding: 10px 0;
			border-bottom: 1px solid #ddd;
			color: @tn-med-dark;
		}
		.entry-meta {
			font-size: 12px;
			color: #aaa;
		}
	}
	.entry-footer {
		padding: 5px 20px;
		border-top: 1px solid #ccc;
		background-color: #eee;
		.entry-likers, a {
			font-size: 11px;
			.entry-likers-tooltip {
				text-decoration: underline;
				cursor: pointer;
			}
		}
		color: #888;
	}
}

#activity-container {
	margin-bottom: 20px;
	padding : 0px 5px;
	border: 1px solid #444;
	.border-top-radius(4px);
	.border-bottom-radius(4px);
	.box-shadow(0px 4px 6px 1px rgba(0, 0, 0, 0.4));
	background-image: @tweed;
	.activity-item {
		margin: 6px 0;
		border: 1px solid #ddd;
		.border-top-radius(2px);
		.border-bottom-radius(2px);
		.box-shadow(0px 2px 4px 1px rgba(0, 0, 0, 0.5));
		background-color: #FAFAFA;
		font-size: 12px;
		.activity-body {
			padding: 5px;
			i {
				color: @tn-dark;
			}
		}
		.activity-meta {
			padding: 1px 5px;
			border-top: 1px solid #ccc;
			background-color: #eee;
		}
	}
}