{% extends "base.html" %}
{% block title %}Calendar{% endblock %}

{% block content %}
<!-- Calendar -->
<div class="row">
    <div class="col-md-12">
        <div id="calendar-title">
            <div id="calendar-title-year">
                <span id="calendar-year">{{ current.date|date:"Y"}}</span>
            </div>
            <div id="calendar-title-month">
                <span>{{ current.date|date:"F"}}</span>
            </div>
        </div>

        <div id="calendar-wrapper">
            <div class="calendar-arrow-container pull-left">

            </div>
            <div id="calendar-screen">
                <ul>
                    {% for dm in daymatchs %}
                    <li>
                        <div class="calendar-item">

                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="calendar-arrow-container">
                
            </div>
        </div>

        <!-- Entries wrapper -->
        <div id="entries-wrapper">
            <div class="title-bar">
                <span class="title"><strong>NEWS</strong></span>
            </div>
            {% for entrie in entries %}
                <div class="entry-item">
                    {% autoescape on %}
                    <h3>{{ entrie.title|safe }}</h3>
                    <span class="tn">{{ entrie.author.first_name|capfirst }} {{ entrie.author.last_name|upper }} - {{ entrie.published_date|date:"j F Y" }}</span>
                    <p>{{ entrie.body|safe }}</p>
                    {% endautoescape %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Day match informations -->
<div class="row">
    <div class="col-md-4">
        <!-- Activity + Infos -->
        <div id="activity-wrapper">
            <div class="title-bar">
                <span class="title"><strong>ACTIVITIES</strong></span>
            </div>
            <div class="title-bar">
                <span>Un empêchement à <a href="mailto:vincent@asswat.be?subject=Tennis Network - Changement d'horaire à signaler" target="_blank">signaler</a> ou un changement d'horaire préférable ?</span>
            </div>
            <div class="title-bar footer">
                <strong><a href="https://www.djangoproject.com/" target="_blank">Django 1.4.9</a> - tennisnetwork.be © {{ sysdate|date:"Y" }} - version: 1.1.0</strong> - 
                <a href="mailto:request@tennisnetwork.be?subject=Tennis Network - Signaler un bug" target="_blank">Signaler un bug</a> - <a href="/help/">Help</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}