{% extends "base.html" %}
{% load media %}
{% block title %}Aide{% endblock %}

{% block content %}
<div id="help-wrapper">
    <div id="help-leaf">
        <div id="help-title">
            <img id="logo" src="{% media_url 'img/global/logo.png' %}">
            <h2>Centre d'aide</h2>
        </div>
        <p id="help-intro">Bienvenue sur la page d'aide de la plate-forme <strong>tennisnetwork</strong>. Celle-ci vous présentera les différents éléments présents sur chaque page du site. L'objectif étant d'offrir un aperçu rapide des fonctionnalités disponibles.</p>
        <ul class="unstyled help-section-list">
            <!-- home -->
            <li class="help-section">
                <div class="section-title">
                    <span>Home</span>
                </div>
                <div class="section-content">
                    <div class="content-picture pull-left">
                        <img src="{% media_url 'img/page_specific/help-home.png' %}">
                    </div>
                    <div class="content-text pull-left">
                        <p>Une nouvelle page <strong>Home</strong> sur laquelle vous pouvez consulter les <strong>billets publiés</strong> par Vincent. Si vous souhaitez faire publier une information, n'hésitez pas! Cliquez <a href="mailto:request@tennisnetwork.be?subject=tennisnetwork.be - Publier un billet sur la plate-forme">ici</a>, et envoyez votre billet!</p>
                        <p>Vous avez également un <strong>aperçu du calendrier</strong> de la saison.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
            <!-- calendar -->
            <li class="help-section">
                <div class="section-title">
                    <span>Calendrier</span>
                </div>
                <div class="section-content">
                    <div class="content-text pull-left">
                        <p>Le <strong>calendrier</strong> vous permet de consulter la liste des joueurs pour chaque horaire et ce pour chacun des jours de match.</p>
                        <p><span class="label label-important">NEW</span> Vous pouvez désormais poster des <strong>messages</strong> sur le match de la semaine, pronostiquer le score de votre prochaine partie, mais aussi commenter ceux des autres joueurs.</p>
                        <p><i>Votre message devra d'abord être validé par l'administrateur avant d'apparaître sur la plate-forme.</i></p>
                    </div>
                    <div class="content-picture pull-left">
                        <img src="{% media_url 'img/page_specific/help-calendar.png' %}">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
            <!-- player -->
            <li class="help-section">
                <div class="section-title">
                    <span>Joueurs</span>
                </div>
                <div class="section-content">
                    <div class="content-picture pull-left">
                        <img src="{% media_url 'img/page_specific/help-player.png' %}">
                    </div>
                    <div class="content-text pull-left">
                        <p>Trouvez un joueur, un adversaire ou bien compagnon de route plus facilement!</p>
                        <p>La fonction de <strong>tri</strong> vous permet de sélectionner rapidement les joueurs à temps complet ou à mi-temps mais aussi selon leur horaire préféré.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
        </ul>
        <p class="red-tn"><strong>En cas de problèmes ou pour signaler une erreur, cliquez <a href="mailto:request@tennisnetwork.be?subject=tennisnetwork.be - Signaler un problème concernant la plate-forme">ici</a>. Merci et bonne navigation.</strong></p>
    </div>
</div>
{% endblock content %}