{% extends "base.html" %}
{% block title %}Players{% endblock %}

<!-- Block content -->
{% block content %}
<div class="players-actions">
    <div class="search-box">
        <h3>Vous cherchez un joueur ?</h3>
        <form method="GET" action="/player/">{% csrf_token %}
            <input type="text" class="s-box" name="q" placeholder="André Agassi ..." maxlength="40">
            <input type="submit" class="btn btn-inverse" value="Search">
        </form>
    </div><!-- /end s-box -->

    <div class="sort-box">
        <div class="pull-right sort-float-box">
            <span>Tri :</span>
            <select class="sort-select" name="p_sort">
                <option value="0" selected="selected">Tous</option>
                <optgroup label="Temps">
                    <option value="1">Mi-temps</option>
                    <option value="2">Complet</option>
                </optgroup>
                <optgroup label="Horaire préféré">
                    <option value="3">19h00</option>
                    <option value="4">20h30</option>
                </optgroup>
            </select>
        </div><!-- /end sort-float-box -->
        <div class="clearfix"></div>
    </div><!-- /end sort-box -->

</div><!-- /end players-actions -->

<!-- players list -->
<div class="players-list">
    {% for p in data %}
    <div class="pull-left pl-item" data-time="{% if p.half_time %}1{% else %}2{% endif %}" data-pref="{% if p.time_pref == 1 %}3{% else %}4{% endif %}">
        <div class="p-time-cntr">
            <div class="p-time"{% if p.half_time %} id="half"{% endif %}></div>
        </div>
        <div class="p-icon-cntr">
            <div class="p-icon"></div>
        </div>
        <div class="p-desc-cntr">
            <span><strong>{{ p }}</strong></span>
            <span>
                <a href="mailto:{{ p.mail }}?Subject=Contact from TNetwork">{{ p.mail }}</a>
            </span>
            <span class="p-schedule">{% if p.time_pref == 1 %}19h00{% else %}20h30{% endif %}</span>
        </div>
    </div><!-- /end pl-item -->
    {% endfor %}
    <div class="clearfix"></div>
</div><!-- /end players-list -->

{% endblock content %}