{% load api_plus %}
<div class="calendar">
  <ul class="unstyled">
    <!-- Item year -->
    {% for year, months in cal.items %}
    <li class="cal-year">
      <span><strong>{{ year }}</strong></span>

      <!-- Item daymatch lister -->
      {% for month, days in months.items %}
      <li class="cal-month">
        <div class="pull-left cal-month-title">
          <a href="{% if level == 'admin' %}/admin/match/{% else %}/calendar/{% endif %}{{ year }}/{{ month }}/">
            <span><strong>{{ month|str_month }}</strong></span>
          </a>
        </div>
        <ul class="unstyled cal-month-list">
          {% for day in days %}
          <li class="cal-day" data-date="{{ year }}/{{ month }}/{{ day }}">
            <a href="{% if level == 'admin' %}/admin/match/{% else %}/calendar/{% endif %}{{ year }}/{{ month }}/{{ day }}/">
              <span><strong>{{ day }}</strong></span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
</div>