{% load media %}
<ul class="unstyled post-container-list">
  {% for d in discus %}
  <li class="post-container" data-id="{{ d.0.id }}">
    <div class="discus-wrapper">
      {% autoescape on %}
      <div class="discus-infos">
        <img src="{% media_url 'img/global/ball_single.png' %}" class="pull-left avatar avatar32">
        <span class="tn"><strong>{{ d.0.author|capfirst }}</strong></span> posté il y a
        <time datetime="{{ d.0.created }}">{{ d.0.created|timesince }}</time>
      </div>
      <div class="discus-content">
        {{ d.0.body|safe }}
      </div>
      <ul class="unstyled son-container-list">
        {% if d.1 %}
          {% for son in d.1 %}
          <li class="son-container">
            <div class="son-wrapper">
              <div class="son-infos">
                <img src="{% media_url 'img/global/ball_single.png' %}" class="pull-left avatar avatar32">
                <span class="tn"><strong>{{ son.author|capfirst }}</strong></span> posté il y a
                <time datetime="{{ created.created }}">{{ son.created|timesince }}</time>
              </div>
              <div class="son-content">
                {{ son.body|safe }}
              </div>
            </div><!-- /end son-wrapper -->
          </li>
          {% endfor %}
        {% endif %}
      </ul>
      {% if button %}
      <div class="son-action">
        <a class="btn btn-inverse btn-mini add-son">Commenter</a>
      </div>
      {% endif %}
    {% endautoescape %}
    </div><!-- /end discus-wrapper -->
  </li>
  {% endfor %}
</ul>