<form method="POST" action="#" id="player-action">
  {% csrf_token %}
  <fieldset>
    <dl>
      <dd class="pull-right">{{ form.name }}</dd>
      <dt>
        <label for="id_name"><strong>Nom</strong><span class="red-tn">*</span></label>
      </dt>
    </dl>
    <dl>
      <dd class="pull-right">{{ form.fname }}</dd>
      <dt>
        <label for="id_fname"><strong>Prénom</strong><span class="red-tn">*</span></label>
      </dt>
    </dl>
    <dl>
      <dd class="pull-right">{{ form.mail }}</dd>
      <dt>
        <label for="id_mail"><strong>Email</strong><span class="red-tn">*</span></label>
      </dt>
    </dl>
    <dl>
      <dd class="pull-right">{{ form.gsm }}</dd>
      <dt>
        <label for="id_gsm"><strong>GSM</strong></label>
      </dt>
    </dl>
    <dl>
      <dd class="pull-right">{{ form.half_time }}</dd>
      <dt>
        <label for="id_ht"><strong>Temps</strong><span class="red-tn">*</span></label>
      </dt>
    </dl>
    <dl>
      <dd class="pull-right">{{ form.time_pref }}</dd>
      <dt>
        <label for="id_time"><strong>Horaire</strong><span class="red-tn">*</span></label>
      </dt>
    </dl>
  </fieldset>
</form>