/* CSS */

html, body, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
}

body {
	width: 980px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'gill sans',helvetica,serif;
}

.main {
	width: 300px;
	margin: auto;
	margin-top: 200px;
	padding: 20px;
	border-radius: 6px;
	border: 1px solid #888;
	background-color: #bbb;
}

.bc_img {
	text-align: center;
}
