{% extends "base.html" %}
{% load media %}
{% load api_plus discus_plus %}
{% block title %}Calendar{% endblock %}

{% block content %}
<div class="row">
  <div class="span4">
    <div class="cal" id="{{ selected_day }}">
      {% render_calendar calendar %}
    </div>

    <div class="mail_menu">
      <p><strong>Un empêchement à signaler ou un changement d'horaire préférable ?</strong></p>
      <p>Veuillez en informer <a href="mailto:vincent@asswat.be?subject=Tennis Network - Changement d'horaire à signaler" target="blank">Vincent Borlée</a> au plus vite.</p>
    </div>
  </div>
  <div class="span8">
    {% block page_content %}
    {% autoescape on %}
    <div class="match-wrapper">
      <div class="match-list">
        <div class="clock">
          <span><strong>19H</strong></span>
        </div>
        <div class="player-list">
          <ul class="unstyled">
            {% for p1 in data.time_first.all %}
              <li><span>{{ p1 }}</span></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="match-list">
        <div class="clock">
          <span><strong>20H30</strong></span>
        </div>
        <div class="player-list">
          <ul class="unstyled">
            {% for p2 in data.time_second.all %}
              <li><span>{{ p2 }}</span></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div><!-- /end match-wrapper -->

    <div class="discus-bloc">
      <a class="btn add-discus" data-daymatch="{{ data.uuid_day }}">Poster un message</a>
      <div class="discus-container">
        {% render_discus discus %}
      </div>
    </div><!-- /end discus-wrapper -->
    {% endautoescape %}
    {% endblock page_content %}
  </div>
</div>

<!-- Modal -->
<div id="discus-modal" class="modal hide fade" tabindex="1" role="dialog" aria-labelledby="discus-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <img src="{% media_url 'img/global/ajax-loader.gif' %}" class="ajax-loader pull-right" alt="Ajax loader animated gif"><h3 id="discus-label">Poster un message</h3>
  </div>
  <div class="modal-body">

    <form method="POST" action="" id="discus-process">{% csrf_token %}
      {% if not user.is_authenticated %}
      <p><strong>Email : (Utilisé sur la plate-forme)</strong></p>
      <div class="control-group">
        <div class="controls">
          <input type="text" name="discus-process-mail" maxlength="100" autofocus>
          <div class="error-msg">
            <span class="help-inline"></span>
          </div>
        </div>
      </div>
      {% endif %}
      <p><strong>Message : (Max. 140 caractères)</strong></p>
      <div class="control-group">
        <div class="controls">
          <textarea name="discus-process-msg" maxlength="140" placeholder="Entrez votre texte ..." rows="2"></textarea>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
    <input type="submit" form="discus-process" class="btn btn-primary" value="Poster">
  </div>
</div>

{% endblock content %}