{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}
<div class="cal">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <span class="brand"></span>
        </div>
    </div>
</div>

<div class="plays">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <span class="brand">Erreur</span>
        </div>
    </div>

    <h4>Error 404 - Page introuvable!</h4>
    <p>Retour vers la page d'<a href="/home/">accueil</a>.
</div>
{% endblock content %}