{% load staticfiles %}
{% load compressed %}
{% load templatetag_handlebars %}
<!DOCTYPE html>
<html>
    {% block head %}<head>
        <title>TNetwork - {% block title %}{{ page.title }}{% endblock title %}</title>
        {% block head_favicon %}{% endblock head_favicon %}

        {% block head_meta %}
        {% block head_meta_charset %}<meta http-equiv="content-type" content="text/html; charset=UTF-8">{% endblock head_meta_charset %}
        {% block head_meta_contentlanguage %}<meta http-equiv="Content-Language" value="fr-fr" />{% endblock head_meta_contentlanguage %}
        {% block head_meta_keywords %}<meta name="keywords" content="tennis network">{% endblock head_meta_keywords %}
        {% block head_meta_author %}<meta name="author" content="Romain FONCIER">{% endblock head_meta_author %}
        {% block head_meta_content%}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock head_meta_content%}
        {% block head_meta_robots %}{% endblock head_meta_robots %}
        {% endblock head_meta %}

        {% block head_css %}
        {% block head_css_site %}
        {% compressed_css 'main' %}
        {% endblock head_css_site %}
        {% block head_css_section %}{% endblock head_css_section %}
        {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
        {% block js_header %}
        {% handlebars_js %}
        {% endblock js_header %}
        {% block extra_js_header %}{% endblock %}
        {% block extra_header %}{% endblock %}
    </head>{% endblock head %}

    {% block body %}<body>
    <!-- Menu - Navbar -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tn-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/app/" class="navbar-brand">
                    <img class="logo-middle" src="{% static "img/global/tnetwork_logo.png"%}" alt="tnetwork logo">
                    <img class="logo-label-middle" src="{% static "img/global/tnetwork_label.png"%}" alt="tnetwork label">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="tn-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if nbar == 'home' %}active{% endif %}">
                        <a href="/app/">HOME</a>
                    </li>
                    <li class="{% if nbar == 'daymatch' %}active{% endif %}">
                        <a href="/app/daymatch/">DAYMATCH</a>
                    </li>
                    <li class="{% if nbar == 'help' %}active{% endif %}">
                        <a href="/app/help/">HELP</a>
                    </li>
                    {% if user.is_admin %}
                    <li class="{% if nbar == 'admin' %}active{% endif %}">
                        <a href="/app/admin/">ADMIN</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_middle_name }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Account</a></li>
                            <li class="divider"></li>
                            <li><a href="/app/logout/">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Main content -->
    <div id="main-wrapper">
        <div class="container">
        {% block content %}{% endblock content %}
        </div>
    </div>
    </body>{% endblock body %}

    {% block handlebars_templates %}{% endblock %}

    {% block footer_js %}
        {% block footer_js_site %}
            {% compressed_js 'global' %}
            {% compressed_js 'bs3' %}
        {% endblock footer_js_site %}
        {% block footer_js_section %}{% endblock footer_js_section %}
        {% block footer_js_page %}{% endblock footer_js_page %}
    {% endblock footer_js %}
</html>
