{% load staticfiles %}
{% load compressed %}
<!DOCTYPE html>
<html>
  <head>
    <title>TNetwork - Access</title>
    <link rel="shortcut icon" href="">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" value="fr-fr" />
    <meta name="keywords" content="tennis network">
    <meta name="author" content="Romain FONCIER">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compressed_css 'main' %}
    <noscript>
      <meta http-equiv="refresh" content="10;url=/?no_script=true">
    </noscript>
    <script type="text/javascript">
      window.onload = function() {
        document.getElementById("signup-form-username").focus();
      };
    </script>
  </head>

  <body>
    <div class="container">
      {% if no_script %}
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div id="no-script">
            <img src="{% static "img/glyphicons/png/glyphicons_078_warning_sign.png"%}" alt="glyphicon warning">
            <p><strong>Javascript</strong> doit être activé pour utiliser l'application. Pourtant il semble ne pas être actif ou votre navigateur n'est pas compatible avec Javascript.</p>
            <p>Afin de profiter pleinement de la plate-forme tennisnetwork.be, il est fortement conseillé d'installer l'un des deux navigateurs suivants : <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> ou <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>.</p>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div id="signup-container">
            <div id="logo-container">
              <img class="logo-normal" src="{% static "img/global/tnetwork_logo.png" %}" alt="tnetwork logo">
              <img class="logo-label-normal" src="{% static "img/global/tnetwork_label.png" %}" alt="tnetwork logo">
            </div>
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                <img src="{% static "img/glyphicons/png/glyphicons_078_warning_sign.png"%}" alt="glyphicon warning"><span>{{ message }}</span>
              </div>
              {% endfor %}
            {% endif %}
            <form method="POST" action="" id="signup-form">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" id="signup-form-username" name="username" placeholder="Nom d'utilisateur" {% if no_script %}disabled="disabled"{% endif %}>
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" id="signup-form-password" name="password" placeholder="Mot de passe" {% if no_script %}disabled="disabled"{% endif %}>
              </div>
              <div class="sign-up-form-forgot-pwd-container">
                <span class="sign-up-form-forgot-pwd">Mot de passe oublié ?</span>
              </div>
              <div class="signup-submit-btn">
                <button type="submit" class="btn btn-lg btn-warning" {% if no_script %}disabled="disabled"{% endif %}>Connexion</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>