{% extends "base.html" %}

{% load staticfiles %}
{% load compressed %}
{% load templatetag_handlebars %}
{% load entry_extras %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <!-- Entries wrapper -->
        <div id="entries-wrapper">
            {% csrf_token %}
            <div class="title-bar">
                <span class="title"><strong>NEWS</strong></span>
            </div>
            {% for entry in entries %}
                <div class="entry-item">
                    <div class="entry-container">
                        {% autoescape on %}
                        <h4><strong>{{ entry.title|safe|upper }}</strong></h4>
                        <img class="gicon-mini" src="{% static "img/glyphicons/png/glyphicons_003_user.png"%}" alt="glyphicon user entry author"><span class="entry-meta">{{ entry.author.get_middle_name|safe }} - {{ entry.created_date|date:"j F Y" }}</span>
                        <p>{{ entry.body|safe }}</p>
                        {% endautoescape %}
                    </div>
                    <div class="entry-footer">
                        {% if entry.nb_likers > 0 %}
                        <img class="gicon-mini" src="{% static "img/glyphicons/png/glyphicons_343_thumbs_up.png"%}" alt="glyphicon thumbs up entry like">
                        
                            {% if entry.nb_likers > 1 %}
                                {% if entry|check_liker:user %}
                                <span class="entry-likers"><strong>Vous</strong> et <span class="entry-likers-tooltip" data-toggle="tooltip" data-placement="top" title="{{ entry|get_likers:user }}">{{ entry.nb_likers|get_nb_likers }} personne{{ entry.nb_likers|get_nb_likers|pluralize }}</span> aimez ce post !</span> <a href="#" id="iunlike" data-entry-id="{{ entry.id }}">Je n'aime plus</a>
                                {% else %}
                                <span class="entry-likers"><span class="entry-likers-tooltip" data-toggle="tooltip" data-placement="top" title="{{ entry|get_likers:user }}">{{ entry.nb_likers }} personne{{ entry.nb_likers|pluralize }}</span> aiment ce post !</span> <a href="#" id="ilike" data-entry-id="{{ entry.id }}">J'aime</a>
                                {% endif %}

                            {% else %}
                                {% if entry|check_liker:user %}
                                <span class="entry-likers"><strong>Vous</strong> aimez ce post !</span> <a href="#" id="iunlike" data-entry-id="{{ entry.id }}">Je n'aime plus</a>
                                {% else %}
                                    {% for liker in entry.likers.all %}
                                    <span class="entry-likers"><strong>{{ liker.get_middle.name }}</strong> aime ce post !</span> <a href="#" id="ilike" data-entry-id="{{ entry.id }}">J'aime</a>
                                    {% endfor%}
                                {% endif %}
                            
                            {% endif %}
                        
                        {% else %}
                        <img class="gicon-mini" src="{% static "img/glyphicons/png/glyphicons_343_thumbs_up.png"%}" alt="glyphicon thumbs up entry like">
                        <span class="entry-likers">Soyez le premier à aimer ce post !</span> <a href="#" id="ilike" data-entry-id="{{ entry.id }}">J'aime</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <!-- Activity + Infos -->
        <div id="activity-wrapper">
            <div class="title-bar">
                <span class="title"><strong>ACTIVITIES</strong></span>
            </div>
            <div id="activity-container">
                {% if activities %}
                    {% for activity in activities %}
                    <div class="activity-item">
                        {% autoescape on %}
                        <div class="activity-body">
                            {{ activity.0|safe }}
                        </div>
                        {% endautoescape %}
                        <div class="activity-meta">Il y a {{ activity.1|timesince }}</div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="activity-item">
                    <div class="activity-body">
                        <span>Aucune activité disponible.</span>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="alert alert-warning">
                <span>Un empêchement à <a href="mailto:vincent@asswat.be?subject=Tennis Network - Changement d'horaire à signaler" target="_blank">signaler</a> ou un changement d'horaire préférable ?</span>
            </div>
            <div id="tnetwork-informations">
                <a href="https://www.djangoproject.com/" target="_blank">Django {{ django_version }}</a> - tennisnetwork.be © {{ sysdate|date:"Y" }} - version: 1.1.0 - 
                <a href="mailto:request@tennisnetwork.be?subject=Tennis Network - Signaler un bug" target="_blank">Signaler un bug</a> - <a href="/help/">Help</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block handlebars_templates %}
{% tplhandlebars "tpl-entry-likers" %}
    <span class="entry-likers"><strong>Vous</strong> 
    {{#if_gt likers.length 0}}
    et <span class="entry-likers-tooltip" data-toggle="tooltip" data-placement="top" title="{{join likers separator}}">{{likers.length}} personne{{#if_gt likers.length 1}}s{{/if_gt}}</span> 
    {{/if_gt}}
    aimez ce post !
    </span>
    <a href="#" id="iunlike" data-entry-id="{{target_id}}">Je n'aime plus</a>
{% endtplhandlebars %}
{% tplhandlebars "tpl-activity-item" %}
    <div class="activity-item">
        <div class="activity-body">
            {{safe notification}}
        </div>
        <div class="activity-meta">Il y a {{notification_timing}}</div>
    </div>
{% endtplhandlebars %}
{% endblock %}

{% block footer_js_section %}
    {% compressed_js 'main' %}
{% endblock footer_js_section %}