<div style="width: 100%;">
	<div style="width: 90%; margin: auto; background-color: #eee">
		<div style="height: 40px; width: 100%; background-color: #333; border-bottom: 2px solid #aaa;">
			<span style="display: block; padding-top: 10px; padding-left: 20px; font-size: 20px; color: #fff">TNETWORK </span>
		</div>
		<div style="height: 40px; width: 90%; margin: auto;">
			<h4>Voici les horaires de la semaine <strong>'+week+'</strong> - <span style="color: #D93047;">Jeudi '+date+'</span></h4>
			
			<!--<p style="font-size: 11px;">Cliquez sur <a href="http://www.google.com/calendar/event?action=TEMPLATE&text;=Match de tennis&dates;='+d[2]+d[1]+d[0]+'/'+d[2]+d[1]+d[0]+'&location;=Tennis Club Ombrage, Bruxelles&details;=Match de tennis&trp;=true&sprop;=website:http://www.tennisnetwork.be&sprop;=name:TNetwork" style="text-decoration: none; color: #0581ED;">ici</a> pour ajouter cette évènement à votre compte Google Calendar</p>-->

		</div>
		<div style="width: 85%; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 4px; background-color: #fff; color: #333;">
			<p><strong>Commentaire : </strong>'+comment+'</p>
		</div>
		<div style="width: 90%; margin: auto; margin-top: 20px;">
			<table style="width: 70%; margin: auto; vertical-align: top;" cellspacing="0">
				<thead>
					<tr style="text-align: left;">
						<th>19h</th>
						<th>20h30</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="vertical-align: top;">
							<ul style="width: 90%; margin: 0; padding: 0;">
								'+t1h+'
							</ul>
						</td>
						<td style="vertical-align: top;">
							<ul style="width: 90%; margin: 0; padding: 0;">
								'+t2h+'
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="height: 30px; width: 80%; margin: auto; margin-top: 10px; margin-bottom: 10px; border: 1px solid #0581ED; border-radius: 4px; background-color: #C5E3FC;">
			<span style="display: block; padding: 10px; font-size: 12px; color: #2770B0">Consultez l'horaire en ligne, directement sur le site <a href="http://www.tennisnetwork.be/calendar/'+str(cdate.year)+'/'+l_month[cdate.month-1]+'/'+str(cdate.day)+'/">TNetwork</a>.</span>
		</div>
		<div style="height: 30px; width: 90%; margin: auto; margin-top: 20px;">
			<span style="display: block; margin-top: 10px; font-size: 14px; color: #333">Bonne semaine à tous. Vincent Borlée.</span>
		</div>
		<div style="height: 60px; width: 100%; background-color: #ddd;">
			<span style="display: block; width: 100%; padding: 10px 0; text-align: center; font-size: 11px; color: #D93047">Tennis Network © - 2012</span>
			<span style="display: block; width: 100%; text-align: center; font-size: 11px;">Pour signaler un problème : <a href="mailto:request@tennisnetwork.be?subject=tennisnetwork.be - Signaler un problème concernant la réception d'email">Cliquez ici</a></span>
		</div>
	</div>
</div>