<body style="margin: 0; padding: 0; background-color: #FFFAF7; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
	<div style="width: 100%;">
		<!-- Inner container -->
		<div style="width: 90%; margin: auto; margin-top: 30px; border: 1px solid #ccc; border-radius: 5px; background-color: #fff">

			<!-- Navbar -->
			<div style="height: 50px; background-color: #222; border-radius: 5px 5px 0 0;">
				<img src="http://farm9.staticflickr.com/8053/8398684914_eaf7656408_m.jpg" alt="logo tnetwork" style="position: relative; top: 8px; left: 20px; height: 38px; width: 86px;">
				<span style="position: relative; top: -6px; display: inline-block; margin-left: 50px; font-size: 20px; color: #fff"><strong>Planning de la semaine</strong></span>
			</div>

			<!-- Body -->
			<div style="width: 85%; margin: auto; margin-top: 20px; margin-bottom: 20px; padding: 20px;">
				<p style="margin-top: 0; color: #D94F30;"><strong>Match du : <span style="color: #444;">Jeudi 17 Janvier 2013</span></strong></p>
				<div style="width: 85%; margin: auto; padding: 20px; color: #333;">
					<p style="margin: 0;"><i>Voici le nom de ceux qui sont attendus ce jeudi 17/01/2013. Si vous ne pouvez honorer cette sélection, ne tardez pas à m'avertir. Avertissez-moi aussi si vous avez prévu des congés (au carnaval entre autres) les prochaines semaines. Vincent.</i></p>
					<div style="height: 32px; width: 200px; margin-left: 300px; margin-top: 10px;">
						<img src="4832_125372686170_2072490_n.jpg" alt="User picture profile" style="float: left; display: inline; height: 32px; width: 32px; border-radius: 3px;">
            			<span style="display: block; position: relative; top: 6px; left: 10px; margin-left: 10px; color: #E35D14"><strong>Vincent Borlée</strong></span>
					</div>

					<table style="width: 70%; margin: auto; margin-top: 20px; vertical-align: top; text-align: center;" cellspacing="0">
						<thead>
							<tr style="height: 30px;">
								<th>19h</th>
								<th>20h30</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="vertical-align: top;">
									<ul style="width: 90%; margin: 0; padding: 0;">
										'+t1h+'
									</ul>
								</td>
								<td style="vertical-align: top;">
									<ul style="width: 90%; margin: 0; padding: 0;">
										'+t2h+'
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<p><strong>Un empêchement à signaler ou un changement d'horaire préférable ?</strong> Veuillez en informer <a href="mailto:vincent@asswat.be?subject=Tennis Network - Changement d'horaire à signaler">Vincent Borlée</a> au plus vite.</p>

			<!-- Footer -->
			<div style="height: 60px; width: 100%; border-top: 1px solid #ccc; border-radius: 0 0 5px 5px; background-color: #FFF0E6;">
				<span style="display: block; width: 100%; padding: 10px 0; text-align: center; font-size: 14px; color: #260E01">Tennis Network © - 2013</span>
				<span style="display: block; width: 100%; text-align: center; font-size: 12px;">Pour signaler un problème : <a href="mailto:request@tennisnetwork.be?subject=tennisnetwork.be - Signaler un problème concernant la réception d'email" style="color: #805D4A;">Cliquez ici</a></span>
			</div>
		</div>
	</div>
</body>