<body style="margin: 0; padding: 0; background-color: #FFFAF7; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
	<div style="width: 100%;">
		<!-- Inner container -->
		<div style="width: 90%; margin: auto; margin-top: 30px; border: 1px solid #ccc; border-radius: 5px; background-color: #fff">

			<!-- Navbar -->
			<div style="height: 50px; background-color: #222; border-radius: 5px 5px 0 0;">
				<img src="logo-white.png" alt="logo tnetwork" style="position: relative; top: 10px; left: 20px; height: 30px; width: 86px;">
				<span style="display: inline-block; margin-left: 50px; padding-top: 10px; font-size: 20px; color: #fff"><strong>Nouvelle notification</strong></span>
			</div>

			<!-- Body -->
			<div style="width: 85%; margin: auto; margin-top: 20px; margin-bottom: 20px; padding: 20px;">
				<p style="margin-top: 0; color: #D94F30;"><strong>Un nouveau commentaire est en attente de validation concernant le match du : <span style="color: #444;">Jeudi 17 Janvier 2013</span></strong></p>
				<div><!-- discus-wrapper -->
          <div><!-- discus-info -->
            <img src="ball_single.png" style="float: left; display: inline; height: 32px; width: 32px; border-radius: 3px;">
            <span style="margin-left: 10px; color: #888"><strong>Romain Foncier</strong></span> posté le
            <time datetime="2013-01-16">16 Janvier 2013</time>
          </div><!-- /end discus-info -->
          <div style="padding-left: 42px;">
            Mon super nouveau message
          </div>
        </div><!-- /end discus-wrapper -->

        <div style="margin-top: 20px; padding-left: 42px; background-color: #FFF0E6;"><!-- sons-wrapper -->
          <div><!-- sons-info -->
            <img src="ball_single.png" style="float: left; display: inline; height: 32px; width: 32px; border-radius: 3px;">
            <span style="margin-left: 10px; color: #E35D14"><strong>Romain Foncier</strong></span> posté le
            <time datetime="2013-01-16">16 Janvier 2013</time>
          </div><!-- /end sons-info -->
          <div style="padding-left: 42px;">
            Mon super nouveau message
          </div>
        </div><!-- /end sons-wrapper -->
			</div>

			<!-- Footer -->
			<div style="height: 60px; width: 100%; border-top: 1px solid #ccc; border-radius: 0 0 5px 5px; background-color: #FFF0E6;">
				<span style="display: block; width: 100%; padding: 10px 0; text-align: center; font-size: 14px; color: #260E01">Tennis Network © - 2013</span>
				<span style="display: block; width: 100%; text-align: center; font-size: 12px;">Pour signaler un problème : <a href="mailto:request@tennisnetwork.be?subject=tennisnetwork.be - Signaler un problème concernant la réception d'email" style="color: #805D4A;">Cliquez ici</a></span>
			</div>
		</div>
	</div>
</body>