{% extends "base.html" %}
{% load media %}
{% block head_css_section %}
{% include_media 'admin.css' %}
{% endblock head_css_section %}

{% block content %}
<div class="a-navbar">
    <ul class="a-navbar-list">
        <li class="pull-left a-navbar-item{% if abar == "dash" %} active{% endif %}">
            <a href="/admin/">
                <span>Dashboard</span>
            </a>
        </li>
        <li class="pull-left a-navbar-item{% if abar == "match" %} active{% endif %}">
            <a href="/admin/match/">
                <span>Matchs</span>
            </a>
        </li>
        <li class="pull-left a-navbar-item{% if abar == "discus" %} active{% endif %}">
            <a href="/admin/discus/">
                <span>Discus</span>
            </a>
        </li>
        <li class="pull-left a-navbar-item{% if abar == "player" %} active{% endif %}">
            <a href="/admin/player/">
                <span>Players</span>
            </a>
        </li>
        <li class="pull-left a-navbar-item{% if abar == "entry" %} active{% endif %}">
            <a href="/admin/entry/">
                <span>Entries</span>
            </a>
        </li>
        <li class="clearfix"></li>
    </ul>
</div>
{% block admin_content %}{% endblock admin_content %}
{% endblock content %}
{% block footer_js_section %}
{% include_media 'admin.js' %}
{% endblock footer_js_section %}