{% extends "admin/admin.html" %}
{% load media %}
{% block title %}Admin - Dashboard{% endblock %}
{% block admin_content %}
<div class="row">
	<div class="span8">
		<ul class="unstyled noty-container-list">
			{% if not data %}
				<li class="noty-container">
					<p>Aucunes opérations effectuées.</p>
				</li>
			{% endif %}
			{% for n in data %}
			<li class="noty-container">
				<div class="noty-icon-container pull-left">
					<div class="noty-icon">
						{% if n.n_object_type == "PLAYER" %}<i class="icon-user"></i>{% endif %}
						{% if n.n_object_type == "MATCH" %}<i class="icon-calendar"></i>{% endif %}
						{% if n.n_object_type == "ENTRY" %}<i class="icon-file"></i>{% endif %}
					</div>
					{% if n.n_task == "VALIDATE" %}<span class="label label-success">VALIDATE</span></i>{% endif %}
					{% if n.n_task == "PUBLISH" %}<span class="label label-success">PUBLISH</span></i>{% endif %}
					{% if n.n_task == "SAVE" %}<span class="label label-info">SAVE</span></i>{% endif %}
					{% if n.n_task == "NEW" %}<span class="label label-info">NEW</span></i>{% endif %}
					{% if n.n_task == "UPDATE" %}<span class="label label-warning">UPDATE</span></i>{% endif %}
					{% if n.n_task == "DELETE" %}<span class="label label-important">DELETE</span></i>{% endif %}
				</div>
				<div class="noty-content pull-left">
					<div class="noty-header">
						<img src="{% media_url n.n_user.get_profile.picture %}" class="avatar avatar28">
            <span class="name"><strong>{{ n.n_user.get_full_name|capfirst }}</strong></span> il y a
            <time datetime="{{ n.created_at }}" class="red-tn">{{ n.created_at|timesince }}</time>
					</div>
					<div class="noty-body">
						<p>{{ n.n_sentence|safe }}</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="span4">
		<div class="dashboard-info">
			<h4>Informations</h4>
			<p>Le <strong>Dashboard</strong> est le tableau de bord de la plate-forme <strong>Admin</strong>. Il offre un aperçu de toutes les <span class="red-tn"><strong>opérations importantes</strong></span> qui ont été effectuées.</p>
			<p>Celles-ci sont facilement identifiables à l'aide des petite <strong>icônes</strong> suivantes : <i class="icon-user"></i> <i class="icon-calendar"></i> <i class="icon-file"></i> <i class="icon-th-list"></i></p>
			<p>Les <strong>tâches effectuées</strong> lors de chacune de ces opérations sont indiquées à l'aide des <strong>labels</strong> suivants : <span class="label label-info">NEW</span> <span class="label label-success">VALIDATE</span> <span class="label label-warning">UPDATE</span> <span class="label label-important">DELETE</span>.</p>
			<p>L'historique des opérations est conservé durant deux semaines.</p>
		</div>
	</div>
</div>
{% endblock admin_content %}