{% extends "admin/admin.html" %}
{% load media %}
{% block title %}Admin - Discus{% endblock %}
{% block admin_content %}
<div class="row">
	<div class="span8">
		<div class="discus-post-bloc">
			<span class="red-tn"><strong>Post(s) récent(s) en attente de validation :</strong></span>
			<ul class="unstyled match-container-list">
				{% if data %}
					{% for match, discus in data.items %}
					<li class="match-container">
						<span class="match-ref"><strong>Match du : {{ match }}</strong></span>
						<ul class="unstyled post-container-list">
							{% for d in discus %}
							<li class="post-container" data-id="{{ d.id }}" data-token="{{ d.get_token }}">
								<div class="discus-wrapper">
						    	{% autoescape on %}
						      <div class="discus-infos">
						        <img src="{% media_url 'img/ball_single.png' %}" class="pull-left avatar avatar32">
						        <span class="tn"><strong>{{ d.author|capfirst }}</strong></span> posté le
						        <time datetime="{{ d.created }}">{{ d.created|date:"j F Y" }}</time>
						        <div class="discus-actions">
						        	<a class="label label-warning edit">Editer</a>
								    	<a class="label label-success validate">Valider</a>
								    	<a class="label label-important delete">Supprimer</a>
								   		<a class="label label-info reader">DISCUS</a>
								   	</div>
						      </div>
						      <div class="discus-content">
						        {{ d.body|safe }}
						      </div>
						    	{% endautoescape %}
						    </div><!-- /end discus-wrapper -->
							</li>
							{% endfor %}
						</ul><!-- /end post-container-list -->
					</li>
					{% endfor %}
				{% else %}
					<li><span>Aucun post en attente</span></li>
				{% endif %}
			</ul><!-- /end match-container-list -->
		</div><!-- /end discus-post-bloc -->

		{% if data_sons %}
		<div class="discus-comment-bloc">
			<span class="red-tn"><strong>Commentaire(s) récent(s) en attente de validation :</strong></span>
			<ul class="unstyled match-container-list">
				{% for match, discus_sons in data_sons.items %}
				<li class="match-container">

					<span class="match-ref"><strong>Match du : {{ match }}</strong></span>
					<ul class="unstyled post-container-list">
						{% for ds_k, ds_v in discus_sons.items %}
						<li class="post-container" data-id="{{ ds_k }}">
							<div class="discus-wrapper">
					    	{% autoescape on %}
					      <div class="discus-infos">
					        <img src="{% media_url 'img/ball_single.png' %}" class="pull-left avatar avatar32">
					        <span class="grey"><strong>{{ ds_v.0.author|capfirst }}</strong></span> posté le
					        <time datetime="{{ ds_v.0.created }}">{{ ds_v.0.created|date:"j F Y" }}</time>
					        <div class="discus-actions">
							   		<a class="label label-info reader">DISCUS</a>
							   	</div>
					      </div>
					      <div class="discus-content">
					        <i class="grey">{{ ds_v.0.body|safe }}</i>
					      </div>
					      <ul class="son-container-list">
			            {% if ds_v.1 %}
			            	{% for son in ds_v.1 %}
			            	<li class="son-container" data-id="{{ son.id }}" data-token="{{ son.get_token }}">
				              <div class="son-wrapper">
				                <div class="son-infos">
				                  <img src="{% media_url 'img/ball_single.png' %}" class="pull-left avatar avatar32">
				                  <span class="tn"><strong>{{ son.author|capfirst }}</strong></span> posté le
				                  <time datetime="{{ created.created }}">{{ son.created|date:"j F Y" }}</time>
				                  <div class="discus-son-actions">
				                  	<a class="label label-warning edit">Editer</a>
				                  	<a class="label label-success validate">Valider</a>
						    						<a class="label label-important delete">Supprimer</a>
				                  </div>
				                </div>
				                <div class="son-content">
				                  {{ son.body|safe }}
				                </div>
				              </div><!-- /end son-wrapper -->
				            </li>
			              {% endfor %}
			            {% endif %}
			        	</ul><!-- /end sons-container-list -->
					    	{% endautoescape %}
					    </div><!-- /end discus-wrapper -->
					  </li>
					  {% endfor %}
					</ul><!-- /end post-container-list -->
				</li>
				{% endfor %}
			</ul><!-- /end match-container-list -->
		</div><!-- /end discus-comment-bloc -->
		{% endif %}
	</div><!-- /end span8 -->
	<div class="span4">
		<div class="discus-help">
			<h4>Informations</h4>
			<p>L'édition, la validation et la suppression des posts et commentaires s'effectue de manière très aisée en cliquant respectivement sur les boutons suivants :</p>
			<p><span class="label label-warning">Editer</span> permet de modifier un post ou un commentaire </strong>avant sa validation</strong>.</p>
			<p><span class="label label-success">Valider</span> rend <strong>visible</strong> sur la plate-forme l'élément concerné.</p>
			<p><span class="label label-important">Supprimer</span> supprime le posts <strong>ainsi que tous ces commentaires</strong>.</p>
			<p>Il est également possible de visualiser l'intégralité de la discussion (i.e le post et ses commentaires) en cliquant sur <span class="label label-info">DISCUS</span>.</p>
			<p><strong>Plus</strong> : Dès la validation et la suppression d'un post ou commentaire, l'auteur en sera directement avertit par email.</p>
		</div>
	</div><!-- /end span4 -->
</div><!-- /end row -->

<!-- Modals -->
<div id="discus-action-modal" class="modal hide fade" tabindex="1" role="dialog" aria-labelledby="discus-action-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="discus-action-label"></h3>
  </div>
  <div class="modal-body">
  	<p id="discus-action-body"></p>
  	<form method="POST" action="" id="discus-action">{% csrf_token %}
  	</form>
  </div>
  <div class="modal-footer">
    <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Annuler</button>
    <input type="submit" form="discus-action" class="btn" value="">
  </div>
</div>

<div id="discus-reader-modal" class="modal hide fade" tabindex="1" role="dialog" aria-labelledby="discus-reader-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <img src="{% media_url 'img/global/ajax-loader.gif' %}" class="ajax-loader pull-right" alt="Ajax loader animated gif">
    <h3 id="discus-reader-label">Discussion complète</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn closer" data-dismiss="modal" aria-hidden="true">Fermer</button>
  </div>
</div>
{% endblock admin_content %}