{% extends "admin/admin.html" %}
{% block title %}Admin - Entry Editor{% endblock %}

{% block admin_content %}
<div class="row">
  <div class="span9 entry-editor">
    <div class="leaf" data-id="{{ entry.uuid_entry }}">
      <div class="entry-title">
        {{ form.title|safe }}
      </div>
      <div class="entry-body" id="epic-container"></div>
    </div>
  </div>
  <div class="span3 entry-nav">
    <p class="editor-title"><strong>Entry Editor</strong></p>
    <div class="entry-info">
      <dl>
        <dd class="pull-right"><span>{{ entry.author.get_full_name|capfirst }}</span></dd>
        <dt><span><strong>Auteur</strong></span></dt>
      </dl>
      <dl>
        <dd class="pull-right"><span>{{ entry.created|date:"j F Y" }}</span></dd>
        <dt><span><strong>Créé le</strong></span></dt>
      </dl>
      <dl>
        <dd class="pull-right"><span>{{ entry.modified|timesince }}</span></dd>
        <dt><span><strong>Modifié</strong></span></dt>
      </dl>
    </div><!-- /end entry-info -->
    <div class="entry-specs">
      <p class="red-tn"><strong>Options</strong></p>
      <span>Modifier la visibilité de ce billet :</span>
      <fieldset form="entry-process">
        <dl>
          <dd class="pull-right"><span>{{ form.is_public }}</span></dd>
          <dt><span><strong>Public</strong></span></dt>
        </dl>
      </fieldset>
    </div>
    <p class="editor-title"></p>
    <div class="entry-info">
      <p><span class="label label-info">Sauvegarder</span> permet d'<strong>enregistrer les modifications</strong> effectuées sur le billet tout en poursuivant l'édition.</p>
      <p><span class="label label-success">Publier</span> <strong>sauvegarde</strong> les dernières modifications avant de <strong>rendre public</strong> le billet.</p>
    </div>
    <div class="entry-actions">
      <input type="submit" form="entry-process" class="btn btn-primary btn-save" value="Sauvegarder">
      <button class="btn btn-success publish">Publier</button>
    </div>
  </div><!-- /end span3 -->
</div>
{% endblock admin_content %}
{% block footer_js_page %}
<!-- Epic Editor -->
<script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/tnetworkstatics/js/vendor/epiceditor/js/epiceditor.min.js"></script>

{% load coffeescript %}
<!-- Epic editor Initialization -->
<script type="text/javascript">
  {% inlinecoffeescript %}
    ### Epic Editor Initialization ###
    opts =
      container: 'epic-container'
      basePath: 'https://s3-eu-west-1.amazonaws.com/tnetworkstatics/js/vendor/epiceditor'
      clientSideStorage: true
      localStorageName: 'epiceditor'
      useNativeFullsreen: true
      parser: marked
      file:
        name: 'e{{ entry.uuid_entry }}.md'
        defaultContent: ''
        autoSave: 1000
      theme:
        base:'/themes/base/epiceditor.css'
        preview:'/themes/preview/github.css'
        editor:'/themes/editor/epic-light.css'
      focusOnLoad: false

    editor = new EpicEditor(opts).load()
    editor.importFile('e{{ entry.uuid_entry }}.md', '{{ entry.body_mkd|safe }}')

    ### Delete all others files on local storage ###
    for f in editor.getFiles()
      console.log f
      editor.remove(f) if f.name isnt 'e{{ entry.uuid_entry }}.md'

    ### Export editor variable ###
    window.editor = editor
  {% endinlinecoffeescript %}
</script>
{% endblock footer_js_page %}