{% extends "admin/admin.html" %}
{% block title %}Admin - Entry{% endblock %}

{% block admin_content %}

<div class="i-navbar">
  <a href="/admin/entry/new/" class="btn btn-info add-entry pull-right">Ajouter un billet</a>
  <div class="clearfix"></div>
</div>
<table class="table table-striped table-hover t-common">
  <thead>
    <tr>
      <th></th>
      <th>Titre</th>
      <th>Auteur</th>
      <th>Créé</th>
      <th>Modifié</th>
      <th>Visibilité</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for e in data %}
    <tr data-id="{{ e.uuid_entry }}">
      {% autoescape on %}
      <td id="counter" class="red-tn">{{ forloop.counter }}</td>
      <td id="title"><strong>{{ e.title|upper|safe }}</strong></td>
      <td id="author">{{ e.author|capfirst }}</td>
      <td id="date">{{ e.created|timesince }}</td>
      <td id="date">{{ e.modified|timesince }}</td>
      <td>{% if e.is_public %}<span class="red-tn">Public</span>{% else %}<span>Caché</span>{% endif %}</td>
      <td><a href="/admin/entry/editor/{{ e.uuid_entry }}/"><i class="icon-pencil"></i></a><i class="icon-remove"></i></td>
      {% endautoescape %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modals -->
<div id="entry-del-modal" class="modal hide fade" tabindex="1" role="dialog" aria-labelledby="entry-del-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="entry-del-label">Supression d'un billet</h3>
  </div>
  <div class="modal-body">
    <p id="entry-del-body" class="red-tn"></p>
    <form method="POST" action="" id="entry-del">{% csrf_token %}
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Annuler</button>
    <input type="submit" form="entry-del" class="btn btn-danger" value="Supprimer">
  </div>
</div>
{% endblock admin_content %}