{% extends "admin/admin.html" %}
{% load media %}
{% load api_plus %}
{% block title %}Admin - Matchs{% endblock %}

{% block admin_content %}
<div class="row">
  <div class="span4">
    <div class="cal" id="{{ selected_day }}">
      {% render_calendar calendar 'admin' %}
    </div>
  </div>
  <div class="span8">
    {% autoescape on %}

    <div class="not-played {% if data.not_played.count != 0 %}visible{% endif %}">
      <span class="title"><strong>Ils ne jouent pas :</strong></span>
      <ul>
        {% for np in data.not_played.all %}
        <li class="not-played-item" data-id="{{ np.uuid_user }}" data-source="tn" data-target="tn" data-send="false">
          <div class="pull-left pl-name">
            <span> {{ np }}</span>
          </div>
          <div class="pull-left pl-actions">
            <i class="icon-arrow-down"></i><span id="t1">19h</span>
            <i class="icon-arrow-down"></i><span id="t2">20h30</span>
          </div>
          <div class="clearfix"></div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="match-wrapper">
      <div class="match-list" id="t1">
        <div class="clock">
          <span><strong>19H</strong></span>
        </div>
        <div class="player-list">
          <ul class="unstyled current">
            {% for p1 in data.time_first.all %}
              <li data-id="{{ p1.uuid_user }}" data-source="t1" data-target="t1" data-send="false">
                <div class="pull-left pl-name">
                  <span> {{ p1 }}</span>
                </div>
                <div class="pull-left pl-actions">
                  <i class="icon-random"></i>
                  <i class="icon-remove"></i>
                </div>
                <div class="clearfix"></div>
              </li>
            {% endfor %}
          </ul>
          <ul class="unstyled to-delete"></ul>
        </div>
      </div>
      <div class="match-list" id="t2">
        <div class="clock">
          <span><strong>20H30</strong></span>
        </div>
        <div class="player-list">
          <ul class="unstyled current">
            {% for p2 in data.time_second.all %}
              <li data-id="{{ p2.uuid_user }}" data-source="t2" data-target="t2" data-send="false">
                <div class="pull-left pl-name">
                  <span> {{ p2 }}</span>
                </div>
                <div class="pull-left pl-actions">
                  <i class="icon-random"></i>
                  <i class="icon-remove"></i>
                </div>
                <div class="clearfix"></div>
              </li>
            {% endfor %}
          </ul>
          <ul class="unstyled to-delete"></ul>
        </div>
      </div>
    </div><!-- /end match-wrapper -->
    {% endautoescape %}
    <button class="btn btn-success" id="validate">Valider ce jeudi</button>
    <button class="btn btn-inverse" id="notify">Notifier</button>
    <img src="{% media_url 'img/global/ajax-loader.gif' %}" class="ajax-loader-inline" alt="Ajax loader animated gif">{% csrf_token %}

  </div><!-- /end span8 -->
</div><!-- /end row -->

<!-- Modal -->
<div id="match-notify-modal" class="modal hide fade" tabindex="1" role="dialog" aria-labelledby="match-notify-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <img src="{% media_url 'img/global/ajax-loader.gif' %}" class="ajax-loader pull-right" alt="Ajax loader animated gif"><h3 id="match-notify-label">Notifier les joueurs</h3>
  </div>
  <div class="modal-body">

    <form method="POST" action="" id="match-validate-process">{% csrf_token %}
      <input type="hidden" name="date" value="{{ selected_day }}">
      <span>Match du {{ data.date|date:"j F Y" }}</span>
      <p><strong>Message :</strong></p>
      <div class="control-group">
        <div class="controls">
          <textarea name="match-notify-msg" maxlength="1500" placeholder="Entrez votre texte ..." rows="4"></textarea>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
    <input type="submit" form="match-validate-process" class="btn btn-primary" value="Envoyer">
  </div>
</div>
{% endblock admin_content %}