{% extends "admin/admin.html" %}
{% load media %}
{% block title %}Admin - Players{% endblock %}

{% block admin_content %}
<div class="i-navbar">
  <a class="btn btn-info add-player pull-right">Ajouter un joueur</a>
  <div class="clearfix"></div>
</div>
<table class="table table-striped table-hover t-common">
  <thead>
    <tr>
      <th></th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Mail</th>
      <th>Gsm</th>
      <th>Temps</th>
      <th>Horaire</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for pl in data %}
    <tr data-id="{{ pl.uuid_user }}">
      {% autoescape on %}
      <td class="red-tn" id="counter">{{ forloop.counter }}</td>
      <td id="name"><strong>{{ pl.name|safe|upper }}</strong></td>
      <td id="fname">{{ pl.fname|safe|capfirst }}</td>
      <td id="mail">{{ pl.mail|safe }}</td>
      <td id="gsm">{{ pl.gsm|safe }}</td>
      <td id="ht">{% if pl.half_time %}<span class="red-tn">Mi-Temps</span>{% else %}<span>Complet</span>{% endif %}</td>
      <td id="tp">{% if pl.time_pref == 1 %}19h{% else %}20h30{% endif %}</td>
      <td><i class="icon-pencil"></i><i class="icon-remove"></i></td>
      {% endautoescape %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modals -->
<div id="player-action-modal" class="modal hide fade" tabindex="1" role="dialog" aria-labelledby="player-action-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <img src="{% media_url 'img/global/ajax-loader.gif' %}" class="ajax-loader pull-right" alt="Ajax loader animated gif">
    <h3 id="player-action-label"></h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button class="btn cancel player-cancel" data-dismiss="modal" aria-hidden="true">Annuler</button>
    <input type="submit" form="player-action" class="btn btn-player" value="">
  </div>
</div>

<div id="player-del-modal" class="modal hide fade" tabindex="1" role="dialog" aria-labelledby="player-del-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <img src="{% media_url 'img/global/ajax-loader.gif' %}" class="ajax-loader pull-right" alt="Ajax loader animated gif">
    <h3 id="player-del-label">Supression d'un joueur</h3>
  </div>
  <div class="modal-body">
    <p id="player-del-body" class="red-tn"></p>
    <form method="POST" action="" id="player-del">{% csrf_token %}
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Annuler</button>
    <input type="submit" form="player-del" class="btn btn-danger" value="Supprimer">
  </div>
</div>
{% endblock admin_content %}