{% extends "base.html" %}
{% block title %}Connexion{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <div class="login-form">
      <form action="" method="post" id="login-process">
      <div class="login-header">
        <h4>Interface Admin - Connexion</h4>
      </div>
      <div class="login-body">
        {% if session_expired %}
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Avertissement</strong>
          <p>Votre session a expirée.</p>
        </div>
        {% endif %}
        {% csrf_token %}
          <div class="control-group">
            <div class="controls">
              <label for="id_username"><strong>Nom d'utilisateur</strong></label>
              {{ form.username }}
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label for="id_pwd"><strong>Mot de passe</strong></label>
              {{ form.user_pwd }}
            </div>
          </div>
          <input type="hidden" name="auser" value="{{ auser }}">
      </div><!-- /end login-body -->
      <div class="login-footer">
        <input type="submit" form="login-process" value="Connexion" class="btn btn-inverse">
      </div>
      </form>
      {% if messages %}
        {% for m in messages %}
        <div class="error-message" data-type="{{ m.tags }}" data-msg="{{ m }}"></div>
        {% endfor %}
      {% endif %}
    </div><!-- /end login-form -->
  </div><!-- /end span12 -->
</div>
{% endblock content %}